<configuration>
  <property>
    <name>fs.default.name</name>
    <value>hdfs://{{ node_name01 }}:9000</value>
    <description>The default file system URI</description>
  </property>
</configuration>
